<div class="flower-header">
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="span3 blog-sidebar">
        <% if @posts.any? %>
        <section id="blog_posts">
          <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
          <%= will_paginate @posts %>
        </section>
        <% else %>
        <p><%= t('.no_blog_articles_yet') %></p>
        <% end %>

        <%= render :partial => '/refinery/blog/shared/body_content_right' %>

        <% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
      </div>

      <div class="span7 content">
        <%= render 'post' %>
      </div>
    </div>
  </div>
</div>


