<!-- Place somewhere in the <body> of your page -->
<div class="flex-container">
  <div class="flexslider">
  <ul class="slides">
    <li class="slider-bg">
       <div class="carousel-text">
        <h1>Super important HOTC text</h1>
        <p>
          Rabble rabble rabble lorem ipsum hospice twin cities helping people yadda yadda yadda
        </p>
      </div>     
    </li>
    <li class= "slider-bg">
      <div class="carousel-text">
        <h1>Super important HOTC text</h1>
        <p>
          Rabble rabble rabble lorem ipsum hospice twin cities helping people yadda yadda yadda
        </p>
      </div>
    </li>
    <li class= "slider-bg">
      <div class="carousel-text">
        <h1>Super important HOTC text</h1>
        <p>
          Rabble rabble rabble lorem ipsum hospice twin cities helping people yadda yadda yadda
        </p>
      </div>
    </li>
  </ul>
</div>
</div>


<!-- <ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
</ol> -->
<!-- what -->

<div class="carousel-switches">
  <div class="container-fluid">
    <div class="row-fluid">
      <!-- why -->
      <div data-target="#myCarousel" data-slide-to="0"  class="span4 carousel-switch active">
       <%= raw @page.content_for(:what) %>
     </div>
     <!-- how -->
     <div data-target="#myCarousel" data-slide-to="1" class="span4 carousel-switch ">
       <%= raw @page.content_for(:why) %>
     </div>

     <!-- caregiver -->
     <div data-target="#myCarousel" data-slide-to="2"class="span4 carousel-switch">
       <%= raw @page.content_for(:when) %>
     </div>

   </div>
 </div>
</div>

<div class="container-fluid story-wrapper">
  <div class="row-fluid ">
    <div class="span6">
      <div class="row-fluid left-story">
        <div class="span6 story-image">
          <%= image_tag @page.images[0].url, :class => "img-circle" %>
        </div>

        <div class="span6 story">
          <%= raw @page.content_for(:left_story) %>
        </div>
      </div>
    </div>
    <div class="span6 ">
      <div class="row-fluid right-story">      

        <div class="span6 story">
          <%= raw @page.content_for(:right_story) %>
        </div>
        <div class="span6 story-image">
          <%= image_tag @page.images[1].url, :class => "img-circle" %>
        </div>
      </div>
    </div>
  </div>
</div>


