<!-- Place somewhere in the <body> of your page -->
<div class="flex-container">
  <div class="flexslider">
    <ul class="slides">
      <li class="slider-bg">
       <%= image_tag "slide1.jpg" %>
       <div class="container-fluid carousel-text">
        <div class="row-fluid">
          <div class="span9">
            <%= raw @page.content_for(:slide1) %>
            <div class="row-fluid">
              <div class="span4 offset7">
                <%= link_to "Learn More","/test", :class => "btn btn-primary btn-large btn-block" %>
              </div>            
            </div>
          </div>
        </div>    
      </li>
      <li class= "slider-bg">
        <%= image_tag "slide2.jpg" %>
        <div class="container-fluid carousel-text">
          <div class="row-fluid">
            <div class="span9">
              <%= raw @page.content_for(:slide2) %>
              <div class="row-fluid">
               <div class="span4 offset7">
                <%= link_to "Learn More","/test", :class => "btn btn-primary btn-large btn-block" %>
              </div>       
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class= "slider-bg">
      <%= image_tag "slide3.jpg" %>
      <div class="container-fluid carousel-text">
        <div class="row-fluid">
          <div class="span9">
            <%= raw @page.content_for(:slide3) %>
            <div class="row-fluid">
             <div class="span4 offset7">
              <%= link_to "Learn More","/test", :class => "btn btn-primary btn-large btn-block" %>
            </div>       
          </div>         
        </div>
      </div>
    </div>
  </li>
</ul>
</div>
</div>

<div class="carousel-switches">
  <div class="container-fluid">
    <div class="row-fluid">
      <!-- why -->
      <div data-target="#myCarousel" data-slide-to="0"  class="span4 carousel-switch active">
       <%= raw @page.content_for(:what) %>
     </div>
     <!-- how -->
     <div data-target="#myCarousel" data-slide-to="1" class="span4 carousel-switch ">
       <%= raw @page.content_for(:why) %>
     </div>

     <!-- caregiver -->
     <div data-target="#myCarousel" data-slide-to="2"class="span4 carousel-switch">
       <%= raw @page.content_for(:when) %>
     </div>

   </div>
 </div>
</div>

<div class="container-fluid story-wrapper">
  <div class="row-fluid ">
    <div class="span6">
      <div class="row-fluid left-story">
        <div class="span6 story-image">
          <%= image_tag @page.images[0].url, :class => "img-circle" %>
        </div>

        <div class="span6 story">
          <%= raw @page.content_for(:left_story) %>
        </div>
      </div>
    </div>
    <div class="span6 ">
      <div class="row-fluid right-story">      

        <div class="span6 story">
          <%= raw @page.content_for(:right_story) %>
        </div>
        <div class="span6 story-image">
          <%= image_tag @page.images[1].url, :class => "img-circle" %>
        </div>
      </div>
    </div>
  </div>
</div>


