<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
    -%>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="row-fluid">
            <!-- logo -->
            <div class="span3">
              <a href="/">
                <%= image_tag "Header_Logo.png" %>
              </a>
            </div>

            <div class="span3">
              <div class="row-fluid">
                <h4>For immediate help</h4>
                <h4>(763) &#8209; 531 &#8209; 2424</h4>
              </div>
            </div>
            <!-- links -->
            <div class="span5">

              <div class="row-fluid">

                  <div class="span12 pagination-right">
                    <%= render 'refinery/navbar_button' unless @page.slug == 'home' %>
                    <h3>Volunteer</h3>
                  </div>
                </div>

                <div class="row-fluid">

                  <div class="span12 pagination-right">
                    <nav id='<%= dom_id %>' class='<%= css %> nav pull-right'>
                      <div class="nav-collapse">
                        <ul class="nav">
                          <%= render :partial => '/refinery/menu_branch', :collection => roots,
                          :locals => {
                           :hide_children => hide_children,
                           :sibling_count => (roots.length - 1),
                           :menu_levels => local_assigns[:menu_levels],
                       :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
                     }  -%>
                   </ul>
                 </div>
               </nav>
             </div>

           </div>
         </div>

       </div>
     </div>
   </div>
 </div>
 <% end -%>
