<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
    -%>
    <div class="navbar header">
      <div class="navbar-inner">
        <div class="container-fluid">
         <div class="logo">
          <a href="/">
            <%= image_tag "hotc_logo.jpg"%>
          </a>
        </div>
        <div class="phone">
          <h4>
            <span class="phone-text">For immediate help: </span>
            <br class="visible-tablet visible-phone" />
            (763)&nbsp;531&#8209;2424
          </h4>
        </div>

        <div class="row-fluid">
          <div class="span3 volunteer-button-wrapper">
            <a class="btn btn-medium btn-warning volunteer-button" href="/volunteers/sign_in">Volunteers</a>
          </div>
          <div class="span9 nav-wrapper">
           <div class="row-fluid visible-tablet visible-phone">
            <%= render 'refinery/navbar_button' %>
          </div>
          <nav id='<%= dom_id %>' class='<%= css %> nav pull-right'>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <%= render :partial => '/refinery/menu_branch', :collection => roots,
                :locals => {
                 :hide_children => hide_children,
                 :sibling_count => (roots.length - 1),
                 :menu_levels => local_assigns[:menu_levels],
                  :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
                }  -%>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<% end -%>
