
<div class="flower-header">
</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="span3 sidebar">

      </div>

      <div class="span9 content">
        <div class="inquiries-intro">
          <%= raw @page.content_for(:body) %>
        </div>
        <div class='inquiries'>
          <%= simple_form_for [refinery, :inquiries, @inquiry], :html => {:class => "form-horizontal"}, 
          defaults: {input_html: { class: 'span6'}} do |f| %>
          <%= f.input :name %>
          <%= f.input :email, placeholder: 'user@domain.com'%>
          <%= f.input :phone %>
          <%= f.input :message, placeholder: 'Enter your message here...', :input_html => {:cols => "80", :rows => "5"} %>
          <div class="controls">
            <%= f.button :submit, "Submit", :class => "btn-primary btn-large" %>
          </div>
          <% end %>
        </div>           
      </div>
    </div>
  </div>
</div>


